.container {
  max-width: 800px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  height: 100%;
}

.row {
  display: flex;
}

.logo {
  display: flex;
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.nav-list {
  display: flex;
  min-height: 200px;
  align-items: flex-end;
}

.column-full {
  display: flex;
  align-items: flex-start;
  flex-basis: 0;
}

.column-fullpic {
  display: flex;
  width: 100%;
}

.women {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
