* {
  box-sizing: border-box;
  margin: 0 auto;
}

.relative-links {
  background-color: white;
  border-style: none;
  font-family: Avenir, serif;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}

.relative-links1 {
  border-style: hidden;
  font-family: Avenir, serif;
  font-style: normal;
  font-weight: 500;
}

.column-full {
  display: flex;
  justify-content: center;
}

h1 {
  font-style: normal;
  font-weight: lighter;
  color: rgb(11, 66, 101);
}

h2 {
  display: flex;
  align-items: center;
  position: absolute;
  right: 45%;
  top: 25%;
  color: rgb(255, 255, 255);
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
}

p {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 40%;
  left: 45%;
  right: 35%;
  color: #fff;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.column-first {
  display: flex;
  align-items: center;
  justify-content: center;
}

#text.womenpic {
  width: 30%;
  position: absolute;
  top: 20%;
}

.row {
  width: 100%;
}

.get {
  position: absolute;
  top: 60%;
  background-color: rgb(41, 68, 100);
  color: rgb(255, 255, 255);
  width: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.column-one {
  display: flex;
  align-items: baseline;
}

.submit {
  align-items: center;
  background-color: rgb(41, 68, 100);
  color: rgb(255, 255, 255);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}
